<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-content">
    <div class="modal-header">
      <h2>¿Desea guardar los cambios?</h2>
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <button (click)="saveAsImage()" class="custom-button mb-10">
        Exportar como PNG
      </button>
      
      <button (click)="saveAsJson()" class="custom-button mb-10">
        Exportar como JSON
      </button>
      
      <button (click)="save()" class="custom-button btn-success">
        <i class="fa fa-save mr-5"></i>
        Guardar cambios
      </button>
    </div>
  </div>
</div>


