<div class="navbar px-80">
  <div class="logo">
    <img src="./assets/media/logos/default-dark.svg" alt="Logo" />
  </div>
  <div class="user">
    <span>{{ currentUser()?.name }} {{ currentUser()?.lastName }}</span>
    <img
      #avatar
      (click)="toggleOptions()"
      [src]="photo()"
      alt="Usuario"
    />
    <div #options class="options" *ngIf="showOptions">
      <div class="option-head">
        <img [src]="photo()" alt="Logo" />
        <div class="option-info">
          <span>{{ currentUser()?.name }} {{ currentUser()?.lastName }}</span>
          <span>{{ currentUser()?.email }}</span>
        </div>
      </div>
      <hr />
      <div class="option-links">
        <a class="mb-5" (click)="hideOptions()" routerLink="/home">Home</a>
        <a class="mb-5" (click)="hideOptions()" routerLink="/home">Mi perfil</a>
        <a class="mb-5" (click)="hideOptions()" routerLink="/home/settings"
          >Configuración</a
        >
        <a  (click)="logout()">Salir</a>
      </div>
    </div>
  </div>
</div>
