<div class="content-wrapper">
  <div class="container-head">
    <h1 class="title">Configuración</h1>
    <!-- <button class="custom-button">Nuevo proyecto</button> -->
  </div>

  <div class="container-body">
    <div class="content-profile">
      <div class="profile-title">Detalles del perfil</div>
      <div class="profile-details">
        <form
          [formGroup]="settingsForm"
          (ngSubmit)="onSubmit()"
          class="profile-form"
        >
          <div class="form-img">
            <input
              formControlName="file"
              (change)="onFileChange($event)"
              type="file"
              id="image-input"
              accept="image/*"
            />
            <div class="image-upload">
              <label for="image-input">
                <figure class="image-preview">
                  <img id="image-preview" [src]="imagePreview" alt="Preview" />
                </figure>
              </label>
              <div class="delete-icon">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <span *ngIf="isValidField('file')" class="text-danger">
              {{ getMessageError("file") }}
            </span>
          </div>

          <div class="form-data">
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input
                class="custom-input"
                type="text"
                id="name"
                name="name"
                [value]="currentUser()?.name"
                readonly
              />
            </div>

            <div class="form-group">
              <label for="lastname">Apellido:</label>
              <input
                class="custom-input"
                type="text"
                id="lastname"
                name="lastname"
                [value]="currentUser()?.lastName"
                readonly
              />
            </div>

            <div class="form-group">
              <label for="email">Correo electrónico:</label>
              <input
                class="custom-input"
                type="email"
                id="email"
                name="email"
                [value]="currentUser()?.email"
                readonly
              />
            </div>

            <div class="form-group justify-content-start">
              <label for="gender">Genero:</label>
              <div class="content-radio">
                <label class="custom-radio"
                  >Femenino
                  <input
                    formControlName="gender"
                    value="Femenino"
                    type="radio"
                    name="gender"
                  />
                  <span class="checkmark"></span>
                </label>

                <label class="custom-radio"
                  >Masculino
                  <input
                    formControlName="gender"
                    value="Masculino"
                    type="radio"
                    name="gender"
                  />
                  <span class="checkmark"></span>
                </label>

                <label class="custom-radio"
                  >No especificado
                  <input
                    formControlName="gender"
                    value="No especificado"
                    type="radio"
                    name="gender"
                  />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <span *ngIf="isValidField('gender')" class="text-danger">
              {{ getMessageError("gender") }}
            </span>

            <div class="align-end">
              <button class="custom-button" [disabled]="loading" type="submit">
                {{ loading ? 'Procesando...' : 'Guardar Cambios' }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
