<div class="diagramador">
  <div class="header">
    <div class="left">
      <button routerLink="/home" class="custom-button btn-gray">
        <i class="fas fa-home mr-5"></i>
        Inicio
      </button>
    </div>
    <div class="right">
      <button (click)="openModal()" class="custom-button">
        <i class="fas fa-share-alt mr-5"></i>
        Compartir
      </button>
      <button class="custom-button ml-10 btn-success">
        <i class="fa fa-save mr-5"></i>
        Guardar
      </button>
    </div>
  </div>
  
  <app-modal-share></app-modal-share>
  
  <div class="content">
    <div class="sidebar">
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-1.jpg" alt="avatar-1">
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-2.jpg" alt="avatar-2">
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-3.jpg" alt="avatar-3">
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-4.jpg" alt="avatar-4">
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-5.jpg" alt="avatar-5">
      </div>
    </div>
    <div class="canvas">
      <div class="drawing-area"></div>
    </div>
    <div class="shapes">
      <button class="shape" data-name="User">
        <img src="./assets/images/ic_user_dark.png" alt="icon-user">
      </button>
      <button class="shape" data-name="Interface">
        <img src="./assets/images/ic_interface_dark.png" alt="icon-interface">
      </button>
      <button class="shape" data-name="Control">
        <img src="./assets/images/ic_control_dark.png" alt="icon-control">
      </button>
      <button class="shape" data-name="Entity">
        <img src="./assets/images/ic_entity_dark.png" alt="icon-entity">
      </button>
      <button class="shape" data-name="Loop">
        <img class="img-small" src="./assets/images/ic_loop_dark.png" alt="icon-loop">
      </button>
      <button class="shape" data-name="Conditional">
        <img class="img-small" src="./assets/images/ic_conditional_dark.png" alt="icon-conditional">
      </button>
      <button class="shape" data-name="Message">
        <img class="img-small" src="./assets/images/ic_message_dark.png" alt="icon-message">
      </button>
    </div>
  </div>
  
</div>
