<div class="diagramador">
  <div class="header">
    <div class="left">
      <button routerLink="/home" class="custom-button btn-gray">
        <i class="fas fa-home mr-5"></i>
        Inicio
      </button>
    </div>
    <div class="center">
      {{ project?.name }}
    </div>
    <div class="right">
      <button (click)="openModal()" class="custom-button">
        <i class="fas fa-share-alt mr-5"></i>
        Compartir
      </button>
      <button (click)="openModalSave()" class="custom-button ml-10 btn-success">
        <i class="fa fa-save mr-5"></i>
        Guardar
      </button>
    </div>
  </div>

  <app-modal-share></app-modal-share>
  <app-modal-save></app-modal-save>

  <div class="content">
    <div class="sidebar">
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-1.jpg" alt="avatar-1" />
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-2.jpg" alt="avatar-2" />
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-3.jpg" alt="avatar-3" />
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-4.jpg" alt="avatar-4" />
      </div>
      <div class="user-avatar active">
        <img src="./assets/images/avatars/300-5.jpg" alt="avatar-5" />
      </div>
    </div>
    <div class="canvas">
      <!-- <div class="drawing-area">
        {{ project | json }}
      </div> -->
      <canvas #canvasRef id="canvas" [ngClass]="{'cursor-delete': isDeleting}" width="1080" height="600" ></canvas>
    </div>
    <div class="shapes pl-10 pt-10 pb-10">
      <button class="shape" data-name="Actor" (click)="addActor()">
        <img src="./assets/images/ic_user_dark.png" alt="icon-user" />
      </button>
      <button class="shape" data-name="Interface" (click)="addInterface()">
        <img src="./assets/images/ic_interface_dark.png" alt="icon-interface" />
      </button>
      <button class="shape" data-name="Control" (click)="addControl()">
        <img src="./assets/images/ic_control_dark.png" alt="icon-control" />
      </button>
      <button class="shape" data-name="Entity" (click)="addEntity()">
        <img src="./assets/images/ic_entity_dark.png" alt="icon-entity" />
      </button>
    </div>
    <div class="shapes pl-10 pt-10 pb-10">
      <button class="shape" data-name="Loop" (click)="addLoop()">
        <img
          class="img-small"
          src="./assets/images/ic_loop_dark.png"
          alt="icon-loop"
        />
      </button>
      <button class="shape" data-name="Conditional" (click)="addAlt()">
        <img
          class="img-small"
          src="./assets/images/ic_conditional_dark.png"
          alt="icon-conditional"
        />
      </button>
      <button class="shape" data-name="Right Arrow" (click)="addRightArrow()">
        <img
          src="./assets/images/ic_dispatch_dark.png"
          alt="icon-right-arrow"
        />
      </button>
      <button class="shape" data-name="Left Arrow" (click)="addLeftArrow()">
        <img
          src="./assets/images/ic_return_dark.png"
          alt="icon-left-arrow"
        />
      </button>
      <button class="shape" data-name="Message">
        <img
          class="img-small"
          src="./assets/images/ic_message_dark.png"
          alt="icon-message"
        />
      </button>
      <button class="shape" data-name="Remove" (click)="enableDelete()">
        <img
          class="img-small"
          [src]="isDeleting ? './assets/images/ic_eraser.png' : './assets/images/ic_eraser_dark.png'"
          alt="icon-remove"
        />
      </button>
    </div>
  </div>
</div>
