<div class="container-auth">
  <div class="circle" [@circleAnimation]></div>
  <div class="forms-container">
    <div class="signin-signup">
      <!-- Login form -->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        [@slideIn]
        class="sign-in-form"
      >
        <h2 class="title">Iniciar Sesión</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input
            formControlName="email"
            type="text"
            placeholder="Correo electrónico"
          />
        </div>
        <span *ngIf="isValidField('email')" class="text-danger">
          {{ getMessageError("email") }}
        </span>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
          />
        </div>
        <span *ngIf="isValidField('password')" class="text-danger">
          {{ getMessageError("password") }}
        </span>

        <button type="submit" class="btn-custom solid">Iniciar sesión</button>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div [@slideIn] class="panel left-panel">
      <div class="content">
        <h3>¿Nuevo por aquí?</h3>
        <p>
          ¡Bienvenido! Si aún no tienes una cuenta con nosotros, puedes
          registrarte para acceder a todos nuestros servicios. ¡Te estamos
          esperando!
        </p>
        <button
          routerLink="/auth/register"
          class="btn-custom transparent"
          id="sign-up-btn"
        >
          Registrarse
        </button>
      </div>
      <img src="./assets/images/img_1.svg" class="image" alt="" />
    </div>
  </div>
</div>
