.circle {
  position: absolute;
  width: 2000px;
  height: 2000px;
  right: 52%;
  transform: translate(100%, -50%);
  background-image: linear-gradient(60deg, var(--color-red-600) 0%, var(--color-red-200) 100%);
  border-radius: 50%;
  z-index: 6;
}


.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 25%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}




